body { 
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

form {
    text-align: center;
    max-width: 350px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

h1 {
    color: hsl(223, 100%, 64%);
}

#textBox{
    text-align: center;
    width: 50%;
    margin-bottom: 15px;
    font-size: 2em;
    border-radius: 4px;
    border: 2px solid hsla(0, 0%, 0%, 0.8)
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    font-size: 1.5em;
    background-color: hsl(0, 100%, 60%);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
}
#result{
    font-weight: bold;
    font-size: 1.75em;
}